__pycache__/
*.pyc
*.pyo
*.db
*.sqlite
*.sqlite3
data/
backend/repos/*
backend/scripts/*
backend/backup/*
backend/logs/*
backend/image/*
node_modules/
.env
*.log
.DS_Store
Thumbs.db
*.egg-info/
dist/
build/
packaging/
fnpack-*
.venv/
venv/
env/
